
.Announcement {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
}

.slider {
    width: auto;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left:1%;
    padding-right: 1%;
    display: flex;
    gap: 1.1%;
}

.slider img {
    width: 32.6%;
    border-radius: 20px;
    cursor: pointer;

    @media screen and (max-width: 1919px) {
        width: 46.4%;
        height: auto;
        margin-left: 2%;
    }


    @media screen and (max-width: 1200px) {
        width: 96%;
        height: auto;
        margin-left: 2%;
    }

    


}

.slider img.lastSlide {
    @media screen and (max-width: 1200px) {
        margin-right: 2%;
    }
}

.slider :hover {
        transform: scale(1.02);
}

.button {
    display: flex;
    width: 99.9%;
    justify-content: flex-end;

    @media screen and (max-width: 1919px) {
        justify-content: center;
    }
}

.buttonContainer {
    width: 75px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    border-radius: 10px;

    @media screen and (min-width : 1600px) and (max-width: 1919px) {
        width: 120px;
    }

    @media screen and (max-width: 1300px) {
        width: 150px;
    }
}

.realButton {
    height: 12px;
    background-color: yellow;
    border-radius: 50px;
    cursor: pointer;
    transition: width 0.3s, border-radius 0.3s; /* Ajout de la transition */
}

.desactivated {
    width: 12px;
}

.activated {
    width: 25px;
}

