.body {

    display: flex;
    padding: 10px;
    padding-right: 0px;
    width: 99%;
    justify-content: center;
    height: auto;
    gap: 1%;
    margin-bottom: 100px;
    overflow-x: hidden;
}

.App {
  text-align: center;
  background-color: #191919;
  height: auto;
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif; /* Utilisation de Roboto comme police principale */
}

.customLink {
  color: white; /* Couleur du texte */
  font-weight: bold; /* Gras */
  text-decoration: underline; /* Soulignement */
}

@keyframes scrollBackground {
  0% {
    background-position: 100% 0; /* Position de départ */
  }

  50% {
    background-position: 50% 0; /* Position intermédiaire */
  }

  100% {
    background-position: 0 0; /* Position finale (identique à la position de départ pour boucler) */
  }
}

.header {
  position: relative;
  padding: 5px;
  padding-left: 0;
  padding-top: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  overflow: hidden;
  gap: 0;
  z-index: 1;
  background-image: url('../img/header_for_animation.png');
  background-attachment: scroll, local;
  background-repeat: repeat;
  background-color: #02050c80;
  background-blend-mode: overlay; /* Mélange le fond avec la couleur */
  animation: scrollBackground 5s linear infinite;
}

.header::before {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.menu-mobile-icon {
  display: none;
}

.iconSearchOnMobile {
  display: none;
}

.menu-mobile-icon span {
    content: '';
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 0));
    transition: transform 0.2s ease;
}






.headerOfMobileMenu {
  position: relative;
  height: 12dvh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.92), rgb(141, 16, 16));
}

.menu-mobile-language {
  display: flex;
  width: 100vw;
  height: 12dvh;
  align-items: center;
}


.menu-mobile-language-left-part {
  display: flex;
  position: relative;
  width: 67vw;
  height: 12dvh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.92), rgb(141, 16, 16)); /* Dégradé de noir à rouge */
  color: rgb(228, 228, 228);
  align-items: center;
  font-size: 10px;
  justify-content: flex-end;

}

.menu-mobile-language-left-part p {
  padding-right: 25px;
}

.menu-mobile-language-right-part {
  width: 33vw;
  height: 12dvh;
  display: flex;
  color: aliceblue;
  align-items: center;
  font-size: 13px;
  justify-content: flex-end;
  background-color: #191919c0;
  gap: 25px;
  padding-right: 20px;
}

.menu-mobile-language-right-part:hover {
  background-color: #191919e8;
}

.menu-mobile-language-right-part span {
  background-color: transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid aliceblue; /* Changez la couleur selon vos besoins */
}

.menu-mobile-language-right-part:hover {
  color: yellow; /* Changer la couleur du texte */
}

.menu-mobile-language-right-part:hover span {
  border-top-color: yellow; /* Changez la couleur de la bordure supérieure */
}


.menu-mobile-close-icon {
  position: absolute;
  left: 10%;
  top : 50%;
  transform: translateY(-75%);
  height: auto;
}

.barLeft {
  display: block;
  width: 4px;
  height: 28px;
  background-color:  rgb(141, 16, 16);
  transform: rotate(45deg);
  border-radius: 50px;
  filter: blur(0.7px); /* Apply a blur effect with a radius of 5 pixels */
  margin-top: 35px;

}

.barRight {
  display: block;
  width: 4px;
  height: 28px;
  background-color:  rgb(141, 16, 16);
  transform: rotate(-45deg);
  border-radius: 50px;
  filter: blur(0.7px); /* Apply a blur effect with a radius of 5 pixels */
  margin-top: -35px;
}

.menuListOnMobile {
  height: 45dvh;
  font-family: 'Roboto', sans-serif; 
  color: rgb(223, 223, 223);
  font-size: 13.8px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-bottom: 120px;
  align-items: flex-end;
  width: 100vw;
  margin: 0;
  padding-top: 20px;
  padding-left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.92), rgb(141, 16, 16)); /* Dégradé de noir à rouge */
}

.menuListOnMobile li{
  padding-right: 25px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.menuListOnMobile li:hover {
  padding-right: 30px;
  color: yellow;
}



.footerInMobileMenu {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.94);
  word-wrap: break-word;
  height: 42dvh;
}

.footerInMobileMenu .footerListOnMobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: flex-start;
  color: rgb(179, 179, 179);
  padding: 0;
  font-size: 13px;
  margin: 0;
  height: 38dvh;
  align-content: flex-start;

}

.footerListOnMobile li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33.3vw;
  height: 33%;
}

.footerListOnMobile li:hover {
  color: yellow;
}


.logo {
  width: 10%;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;

}


.logo img {
  width: 90%;
  height: auto;
}

.menu {
  margin-left: 0px;
  width: 60%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu ul{
    width: 100%;
    font-family: 'Roboto', sans-serif; 
    color: rgb(223, 223, 223);
    font-size: 13.5px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-content: flex-start;
    justify-content: flex-start;
    margin-top: -7px;
    text-transform: uppercase;
    letter-spacing: .15rem;   

  }



  .menu ul li {
    position: relative;
    cursor: pointer;
    border-top: 3.5px solid  transparent;
    padding-top: 35px;
    transition: padding-top 0.2s ease;
    z-index: 5;
  }

  .menu ul li:hover {
    color: yellow;
    padding-top: 37px;
  }


.redHightlight {
  position: absolute;
  width: 100%;
  height: 4.5px;
  background-color: red;
  top: 0px;
  z-index: 9;
}

.yellowHightlight {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: yellow;
  top: -5px;
  z-index: 10;
  transition: top 0.2s ease;
}

.searchBar {
  margin-left: auto;
  position: relative;
  width: auto;
  height: auto;
  margin-right: 1%;
}

.searchBar input[type=text]
{
  font-size: 16px;
  border: 0px;
  height: 30px;
  width: 300px;
  background-color: #19191936;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.438);
  transition: all 0.3s ease;
}


.searchBar input[type=text]:focus {
  border: 0px;
  border-bottom: 2px solid red; /* Changer la couleur de la bordure */
  width: 460px;
  outline: none; 
  transform: translateX(-40px); 

  @media  (max-width : 1200px) {
    width: 300px;
  }

  @media  (max-width : 1100px) {
    width: 440px;
  }


  @media  (max-width : 872px) {
    width: 210px;
  }

  @media  (max-width : 820px) {
    width: 180px;
  }

}

.iconSearch {
  position: absolute;
  width: 20px;
  opacity: 0.6;
  right: 10%;
  top: 5px;
}



.leftContainer {
  width: 75%;
  height: auto;
}

.rightContainer {
  width: 23.9%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rightContainer img {
  max-width: 100%;
  height: auto;
}


@media screen and (max-width:1670px) {
  .aProposDeNous {
    display: none;
  }
}

@media screen and (max-width:1500px) {
  .leftContainer {
  width : 68%;
  }
  
  .rightContainer {
    width : 30%;
  }
  
}

@media screen and (max-width:1410px) {
  .menu ul{
          font-size: 13px;
    } 
}

@media screen  and (max-width:1300px){
  .favoris {
    display: none;
}
}


@media screen  and (max-width:1100px){

  .ranking {
      display: none;
  }
  
  .creators {
      display: none;
  }
}

@media screen  and (max-width:1024px){
  .body {
    padding-left: 0;
    padding-right: 0;
  }
  

  .iconSearch {
      right: 1%;  
  }

  .searchBar input[type=text]
{
    width: 200px;
}


.searchBar input[type=text]:focus {
    width: 240px;
}

}



  @media screen and (max-width : 820px) {
    .searchBar input[type=text]
    {
    width: 160px;
    }
}

@media screen and (max-width:768px) {

  .body {
    flex-direction: column;
  }


  .rightContainer {
    display : none;
  
  }

  .leftContainer {
          width: 99%; 
  }

  .barLeft {
      width: 8px;
      height: 36px;
  }
  
  .barRight {
      width: 8px;
      height: 36px;
  }

  .menuListOnMobile {
      gap:50px;
   }
  
  .menuListOnMobile li{
      font-size: 18px;
  }

  .footerInMobileMenu .footerListOnMobile {
      font-size: 18px;
  }

  .footerListOnMobile li {
      height: 36.5%;
      width: 33.3%;
  }

  .logo {
      width: 20%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .menu {
      display: none;
  }

  .searchBar input[type=text]
{
    display: none;

}

  .menu-mobile-language-left-part {
      font-size: 14px;
  }

  .menu-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100vw;
  z-index: 99;
  justify-content: flex-end;
  }

  .menu-mobile-icon {

      position: absolute;
      left: 5%;
      top: 50%;
      display: block;
      width: 25px;
      height: 25px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 3px;
      transform: translateY(-40%);
  
  }

  .menu-mobile-language-right-part {

      font-size: 16px;
  
  }
  
  .iconSearchOnMobile {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
  }

  .iconSearchOnMobile img {
    cursor: pointer;
    width: 25px;
    opacity: 0.9;
  }

  .iconSearch {
      display: none;
  }
}

@media screen and (max-width :500px) {
  .logo {
    width: 35%;
}

.header {
   justify-content: center;
}

.menuListOnMobile {
  gap:40px;
}

.menu-mobile-language-left-part {
  font-size: 12px;
}

.menu-mobile-language-right-part {
  font-size: 13px;
}

.menuListOnMobile li{
  font-size: 14px;
}

.footerInMobileMenu .footerListOnMobile {
  font-size: 14px;
}

}

  @media screen and (max-width : 420px) {

  .searchBar {
    width: 50px;
    height: 30px;
  }
}
