.App {
  text-align: center;
  background-color: #191919;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif; /* Utilisation de Roboto comme police principale */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c342a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scrollBackground {
  0% {
    background-position: 100% 0; /* Position de départ */
  }

  50% {
    background-position: 50% 0; /* Position intermédiaire */
  }

  100% {
    background-position: 0 0; /* Position finale (identique à la position de départ pour boucler) */
  }
}

.header {
  position: relative;
  padding: 5px;
  padding-left: 0;
  padding-top: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  overflow: hidden;
  gap: 0;
  z-index: 1;
  background-image: url('../img/header_for_animation.png');
  background-attachment: scroll, local;
  background-repeat: repeat;
  background-color: #02050c80;
  background-blend-mode: overlay; /* Mélange le fond avec la couleur */
  animation: scrollBackground 5s linear infinite;
}

.header::before {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.logo {
  width: 10%;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  
  @media screen and (max-width : 420px) {
    width: 30%;
}

}

.logo img {
  width: 90%;
  height: auto;
}

.menu {
  margin-left: 0px;
  width: 60%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu ul{
    width: 100%;
    font-family: 'Roboto', sans-serif; /* Utilisation de Roboto comme police principale */
    color: rgb(223, 223, 223);
    font-size: 13.5px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-content: flex-start;
    justify-content: flex-start;
    margin-top: -7px;
    text-transform: uppercase;
    letter-spacing: .15rem;
    @media screen and (max-width: 1410px) {
      font-size: 13px;
    }

    @media screen and (max-width : 420px) {
     display: none;
  }
    

  }



  .menu ul li {
    position: relative;
    cursor: pointer;
    border-top: 3.5px solid  transparent;
    padding-top: 35px;
    transition: padding-top 0.2s ease;
    z-index: 5;
  }

  .menu ul li:hover {
    color: yellow;
    padding-top: 37px;
  }


  .ranking {
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  .creators {
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  .favoris {
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }


  .aProposDeNous {
    @media screen and (max-width: 1670px) {
    display: none;
  }

  
}



.redHightlight {
  position: absolute;
  width: 100%;
  height: 4.5px;
  background-color: red;
  top: 0px;
  z-index: 9;
}

.yellowHightlight {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: yellow;
  top: -5px;
  z-index: 10;
  transition: top 0.2s ease;
}

.searchBar {
  margin-left: auto;
  position: relative;
  width: auto;
  height: auto;
  margin-right: 1%;
}

.searchBar input[type=text]
{
  font-size: 16px;
  border: 0px;
  height: 30px;
  width: 300px;
  background-color: #19191936;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.438);
  transition: all 0.3s ease;

  @media screen and (max-width : 420px) {
    display: none;
}

}


.searchBar input[type=text]:focus {
  border: 0px;
  border-bottom: 2px solid red; /* Changer la couleur de la bordure */
  width: 460px;
  outline: none; 
  transform: translateX(-40px); 

  @media  (max-width : 1024px) {
    width: 330px;

  }
}

.iconSearch {
  position: absolute;
  width: 20px;
  opacity: 0.5;
  right: 10%;
  top: 5px;

  @media screen and (max-width : 420px) {
    top: -10px;
}

}

.body {
  display: flex;
  padding: 10px;
  width: 99%;
  justify-content: center;
  height: auto;
  gap: 1%;
  margin-bottom: 100px;
}

.leftContainer {
  width: 75%;
  height: auto;

@media screen and (max-width: 1500px) {
width : 68%;
}

@media screen and (max-width: 767px) {
  width: 99%;
}


}

.rightContainer {
  width: 23.9%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
@media screen and (max-width: 1500px) {
  width : 30%;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

}

.rightContainer img {
  max-width: 100%;
  height: auto;
}


