    .hightlightContainer {
        display: flex;
        flex-direction: column;
        height: auto;
        background: linear-gradient(to bottom, rgba(220,9,20, 0.5),rgba(220,9,20,0));
        width : 100%;
        padding-bottom: 100px;
    }

    .hightlightHeader {
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgba(220,9,20,.5),rgba(220,9,20,0));
    }

    .popularity {
        padding-left: 12px;
        display: flex;
        flex-direction: left;
        align-items: center ;
        color: #ffffff;
        font-size: 22px;
        font-weight: 600;
        gap:10px;
    }

    .popularity img {
        height: 30px;
        width: auto;
    }

    .highlightList {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .allMajButton {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: yellow;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-left: auto;
        cursor: pointer;
        transition: border-radius 0.3s, padding-right 0.3s, text-align 0.3s; /* Durée de l'animation : 0.3s */
    }
    
    .allMajButton:hover {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-right: 25px;
    }

   .highlightList .mangaItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%; 
        gap: 10px;
        padding: 15px;
        }


        .highlightList .mangaItem:hover {
            background-color: rgba(0, 0, 0, 0.08);
            }

            
            .highlightList .mangaItem:hover .mangaName,
            .highlightSummary .mangaItem:hover .mangaName {
                color: yellow;
            }

            .highlightList .mangaItem:hover .mangaAuthor,
            .highlightSummary .mangaItem:hover .mangaAuthor {
    color: white;
}

    .coverAndNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;

    @media screen and (max-width : 1699px) {
        width: 25%;
    }

    @media screen and (max-width : 1499px) {
        width: 26%;
    }

    @media screen and (max-width : 1299px) {
        width: 28%;
    }

    }

    .mangaCover {
            margin-top: -13px;
    }

    .mangaNumber {
        display: flex;
        border-radius: 15px;
        width: 28px;
        height: 28px;
        background-color: black;
        color: aliceblue;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }

    .highlightSummary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 60%;
    }

    .highlightSummary .mangaName {
        margin-top: 25px;
        font-size: 16px;
        line-height: 1.3rem;
        color: aliceblue;
        margin-bottom: -10px;
    }

    .highlightSummary .mangaAuthor {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .highlightSummary  .mangaViews {
        display: flex;
        justify-content: left;   
        align-items: center; 
        color: white;
    }

    .mangaViews img {
        height: 12px;   
        width: auto;
    }


    .showMoreButton {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .showMoreButton button {
        border : 1px solid rgb(131, 0, 0);
        border-radius: 15px;
        color: browns;
        color: rgb(131, 0, 0);
        background-color: rgba(0, 0, 0, 0.0);
        padding: 120px;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: all 0.3s ease;
        cursor: pointer;
        @media screen and (max-width : 1299px) {
            font-size: 12px;
        }
        }

    .showMoreButton button:hover {
        padding-left: 130px;
        padding-right: 130px;
        color: yellow;
        border-color: yellow;
        font-weight: 700;
    }