    .hightlightContainer {
        display: flex;
        flex-direction: column;
        height: auto;
        background: linear-gradient(to bottom, rgba(220,9,20, 0.5),rgba(220,9,20,0));
        width : 100%;
        padding-bottom: 100px;
    }

    .hightlightHeader {
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgba(220,9,20,.5),rgba(220,9,20,0));
    }

    .highlightList {
        width: 100%;
    }

    .allMajButton {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: yellow;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-left: auto;
        cursor: pointer;
        transition: border-radius 0.3s, padding-right 0.3s, text-align 0.3s; /* Durée de l'animation : 0.3s */
    }
    
    .allMajButton:hover {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-right: 25px;
    }

   .highlightList .mangaItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 40%; 
        gap: 20px;
    }

    .highlightSummary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .coverAndNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .mangaNumber {
        display: flex;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        background-color: aliceblue;
        justify-content: center;
        align-items: center;
    }